table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 720px;
  height: 540px;
}

td {
  width: 240px;
  height: 180px;
  font-size: 150px;
  text-align: center;
}